body {
  margin: 0;
  background-color: rgb(221, 236, 236);
}

.produc-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;



}

.produc-galer-img {
  width: 100%;

  display: flex;
}

.produc-caja-m5 {
  width: 38%;
  margin-right: 15px;


  background-color: #fff;



}

.caja-md-2 {
  padding: 0 10px;

}

.box-nombre {

}

.box-flex-prod {

  display: flex;
}

.box-flex-prod .box-data-precio {
  margin: 5px;
}

.box-flex-prod .box-data-precio p {
  margin: 0;
}

.box-flex-prod .box-data-precio h2 {
  margin: 0;

}

.produc-container .produc-caja-m5 .img-produc {
  width: 100%;


}

.produc-container .produc-caja-m5 .col-row-img {
  width: 15%;
  padding: 0;
  margin-right: 10px;

}

.container-row .col-md-8 {
  width: 40%;



}

.titulo-produc {
  text-align: left;
  font-size: 18px;
  font-family: 'Sanchez', serif;
  margin-left: 0;
}

/*estilo de titulo de precio*/
.titulo-h2 {
  text-align: left;
  font-size: 25px;
  color: rgb(42, 165, 93);
  font-family: 'Arvo', serif;
}

.produc-caja-m5 .box-data-02.caja-div2 {
  display: flex;
  width: 100%;
}

.produc-caja-m5 .box-data-02 .caja-div2 .caja-titulo {
  width: 15%;

}

.produc-caja-m5 .box-data-02 .caja-div2 .caja-info {
  width: 75%;
}

.caja-titulo .titulo-h3 {
  text-align: left;
  color: rgb(14, 30, 100);
  font-family: 'Sanchez', serif;

}

.select-form {
  width: auto;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* estilos de color de producto*/
.caja-info ul {
  padding: 0;
  display: flex;
  list-style: none;
}

.caja-info ul li {
  margin: 5px;

}

.caja-info ul li .color-produc {
  border-style: solid;
  border-color: rgba(128, 61, 61, 0.767);
  border-width: 1px;
  width: 50px;
  height: 50px;
}

/*estilos de btn comprar y agregar a carrito*/
.caja-comprar {
  display: flex;
  padding: 0;



}

.btn-cat-0 {
  width: 100%;
  padding: 0 10px 10px 10px;


}

.caja-comprar .btn-cat-1 {
  width: 100%;
  text-align: center;
  padding: 0 10px 10px 10px;

}

.btn-cat-0 .btn-comprar-0 {
  background-color: rgb(71, 130, 129);
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  width: 90%;
  border-radius: 12px
}

.caja-comprar .btn-cat-1 .btn-comprar-1 {
  background-color: rgb(177, 85, 70);
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;

  width: 100%;
  border-radius: 12px
}


/* Hide the images by default */
.mySlides {
  width: 90%;
  display: none;
  border-style: solid;
  border-color: rgba(185, 185, 185, 0.767);
  border-width: 1px;
}

.cursor {
  cursor: pointer;
}

.col-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {

  width: 100%;
  border-style: solid;

  margin-bottom: 5px;
  border-color: rgba(185, 185, 185, 0.767);
  border-width: 1px;
}



.active,
.demo:hover {
  opacity: 1;
}

p {
  font-family: 'News Cycle', sans-serif;
  font-size: 17px;
}

/*producto description y detalles*/

.descip-produc p {
  text-align: left;
}

.container-descrip-produc {
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 20px
}

.produc-destacados {
  width: 20%;
  background-color: #fff;

}

.container-descrip-produc .box-dis-produc {
  width: 80%;
  margin-left: 15px;

  background-color: #fff;
}

.container-descrip-produc .box-dis-produc .btn-produc {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button[type=btn-pro] {
  background-color: inherit;
  color: rgb(8, 8, 8);
  width: 300px;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;


}

/*estilos para movil responsive*/
@media screen and (max-width: 680px) {

  .produc-caja-m5 {
    width: 100%;
    margin-right: 0px
  }

  .produc-galer-img {
    flex-wrap: wrap-reverse;
  }

  .produc-container .produc-caja-m5 .col-row-img {
    display: flex;
    width: 100%;
    height: 120px;
    margin-right: 0px;
    margin-top: 10px;
  }

  .column {
    margin-bottom: 0px;
    margin: 5px;
  }

  .mySlides {
    width: 100%;
    height: 350px;
  }

  .produc-destacados {
    display: none;
  }

  .btn-produc {
    display: flex;
  }

  .container-descrip-produc .box-dis-produc {
    margin-left: 0px;
    width: 100%;
  }
}