body {
    margin: 0;
    background-color: #ffffff;
}

/*estilos de cards*/
.container-cards {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-cards .cards {
    width: 13%;
    margin: 5px;

}

/*rstilos de icomos*/

.icom-cat {
    margin: auto;
    width: 100px;
    height: 100px;
    padding: 14px 14px 8px 8px;
    border-radius: 120px;
}

.titulo-cards h1 {
    text-align: center;
    padding: 0;
}

/*para movil reponsive*/
@media screen and (max-width: 680px) {
    .container-cards .cards {
        width: 11.5%;


    }

    .icom-cat {
        width: 30px;
        height: 30px;
        padding: 0;
    }

    .titulo-cards h1 {
        font-size: 8px;
        margin-left: 0px;
        margin: 0;
    }
}
/*estilo de logo titulo*/
.titulo-h1 {
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    box-sizing: border-box;

}

.titulo-left {
    font-family: 'Domine', serif;
    font-size: 28px;
    text-align: left;
}

.container {
    background-color: #c1c2c1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .row-mx {
    width: 240px;
    height: auto;
    background-color: #fff;
    margin: 6px;
    /*
    padding: 10px;
    border: 1px solid #ccc;*/
    border-radius: 12px;
}


@media screen and (max-width: 320px) {
    .container .row-mx {
        width: 145px;
        padding: 0;
    }

}

.container .row-mx a {
    text-decoration: none;
}

.container .row-mx .image {
    height: 240px;
    display: block;

}

.demo-cursor {

    border-radius: 0px;
}

.img-ver {
    border-radius: 0px;
}

img {
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}

.image {
    overflow: hidden;
    border-radius: 12px 12px 0px 0px;
}

.image :hover {

    transform: scale(1.3);

}

.Precio {
    text-align: center;
    margin: 5px;
    color: rgb(32, 54, 70);
    font-family: 'Sanchez', serif;
}
/*para movil reponsive*/
@media screen and (max-width: 680px) {
    .container .row-mx {
        width: 165px;
        padding: 0;
    }

    .titulo-left {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    /*estilos de producto*/
    .container .row-mx .image {
        height: 160px;
    }
    .Precio{
        margin: 0;
    }
    .btn-cat-0 .btn-comprar-0 {
       padding: 7px;
    }
}


.produc-titulo {
    width: 100%;
    margin: 2px;
    text-align: center;

}

.produc-titulo .Titulo {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #000;
    margin: 5px;
}


input[type=number] {
    width: 90%;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



.sms {
    width: 100%;
    height: 150px;
    color: rgb(31, 28, 28);
    background-color: burlywood;
}

/*estilos de detalles del producto y envio*/
.estado-pedido {
    margin: auto;
    width: 90%;
    padding: 10px 0;
}

.estado-pedido form {
    width: 50%;

}

.txt-envio {
    width: 90%;
    margin: auto;
}

.container-dat-envio {
    display: flex;
    width: 90%;
    margin: auto;
    /*  border: 1px solid #ccc;*/
    background-color: #fff;
}

.container-dat-envio-perf {
    display: flex;
    background-color: #fff;
}

.info-envio {
    width: auto;
}

.data-envio {
    list-style: none;
    padding: 0;
}

.data-envio li {
    padding: 3px;
}


/*estilos de perfil de usuario*/
.container-perfil {
    width: 100%;
    display: flex;
    margin-top: 10px;

}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 30%;
    height: auto;
    margin: 10px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent-p {
    margin: auto;


    width: 70%;
    background-color: #fff;
    border-left: none;
    height: auto;

}

.user-img {
    display: none;
}

@media screen and (max-width: 680px) {
    .user-img {
        width: 100%;
        display: block;
    }

    .user-img img {
        border-radius: 0px;

    }

    .user-img p {
        margin: 0;
        padding: 0;
    }

    .container-perfil {
        flex-wrap: wrap;
    }

    .tab {
        width: 95%;
        display: flex;
        border: 0;
    }

    .tab button.active {
        border-radius: 12px;
    }

    .tabcontent-p {
        width: 95%;
    }

    .tab button {
        padding: 5px;

        text-align: center;
        font-size: 14px;
    }
}

/*estilos de imagen producto modifcado*/
.img-produc {
    width: 150px;
    height: 150px;
}

h2 {
    font-family: 'Arvo', serif;
    font-size: 20px;
    margin: 5px;
    text-align: left;
    margin-left: 20px;
}

/*estilos de carrito*/
.text-producto {
    text-align: left;
    margin: 0;

}

a {
    text-align: left;
    color: #000;
    text-decoration: none;

}

.titulo-car {
    width: 100%;
    margin-top: 10px;

}

.titulo-car h2 {
    text-align: left;
    margin-left: 40px;

}


.container-card {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-left: 20px;
}

.href-verproduc {
    width: 100%;
    padding: 20px 0;
}

.container-card-crear {
    margin: auto;
    width: 90%;

}

.container-card-2 {
    display: flex;



}

.container-card .card-box-1 {
    width: 65%;

}

.card-box-1 .card-box-produc {
    border-radius: 12px;
    border: 1px solid #e5e5e5;

}

.data-info-produc {

    width: 30%;
    margin: auto;
}

.img-carrito {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    margin-left: 35px;

}

.container-produc-card {
    display: flex;
    width: 100%;
}


.container-produc-card .data-producto {
    display: flex;
    width: 40%;
    margin: auto;
}

.data-producto .data-info {
    width: 33%;
    margin: 10px;
    text-align: center;
}

.container-card .card-box-2 {
    width: 30%;
    height: auto;
    background-color: #fff;
    margin: 0 auto;


}

hr {
    border: 0.4px solid #e5e5e5;
}

/*estilos de detalle de articulo  herencia de carrito*/
@media screen and (max-width: 680px) {
    .container-produc-card {

        display: block;
    }

    .data-info-produc {
        width: 100%;
    }

}

.card-box-2 .resumen-pedido {
    width: 100%;

    border-bottom: 0px;
}

.card-box-2 .box-precio {
    display: flex;
    width: 100%;

}

.box-precio .box-1 {
    width: 50%;
    text-align: left;
    margin-left: 20px;
}

.box-precio .box-2 {
    width: 50%;
    text-align: right;
    margin: auto;
}

.box-pago {
    border-radius: 12px;
    border: 1px solid #e5e5e5;
}

.box-Política {
    border-radius: 12px;
    margin-top: 15px;
    border: 1px solid #e5e5e5;
}

.text-left {
    padding: 10px 10px 0 10px;
    text-align: left;
    margin: 0;
}

.a-btn {

    text-decoration: none;
    color: #fff;
}

.btn-pedido {
    width: 100%;
    text-align: center;
    display: flex;


}

.box-button {
    width: 50%;
}

.button-pedido {
    background-color: rgb(202, 145, 22);
    /* Green */
    border: none;
    width: 50%;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 12px;
    float: right;

}

.button-vaciar {
    background-color: rgb(108, 201, 123);
    border: none;
    color: white;
    width: 200px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.a-btn-v {
    padding: 20px;
    float: left;
    color: rgb(34, 30, 30);
}


/*estilos para movil responsive*/
@media screen and (max-width: 680px) {

    .container-card {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .container-card .card-box-1 {
        width: 90%;

    }

    .container-card .card-box-2 {
        width: 90%;
        margin: 0;


    }

    .btn-pedido {
        flex-wrap: wrap;
        margin-top: 5px;
    }

    .box-button {
        width: 100%;
       

    }

    .a-btn-v {
        float: none;
       padding: 10px;
    }

    .button-pedido {
        width: 100%;
        float: none;
    }
}

/*estilos de Direccion de Envio*/
.Direcc-Envio {
    width: 60%;
    padding: 0 10px;

    background-color: #fff;
}

.card-extra {
    width: 40%;
}

.form-txt-1 {
    width: 50%;
    margin: 5px;
}

.form-txt-selec {
    width: 33%;
    margin: 5px;
}

@media screen and (max-width: 680px) {

    .titulo-left{
        padding: 10px;
        text-align: center;
    }
    .container-card-2 {
        display: block;
    }

    .Direcc-Envio {
        width: 100%;
    }

    .form-txt-1 {
        width: 100%;
        margin: 0;

    }
    .form-txt-selec{
       width: 100%;
       margin: 0;
    }
    .href-verproduc{
    text-align: center;
    }
}

/*estilos de icon de btn de gestion producto*/
.icon-btn {
    font-size: 18px;
    color: #000;
}

/*estilos de carrito vacio*/
.imgcard-vacio {
    width: 100%;
    text-align: center;
}

.imgcard-vacio img {
    width: 350px;
}