.tab-login{
  width: 100%;
  display: flex;
justify-content: center;
margin-bottom: 10px;
 
}
.tab-login button{
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  margin: 20px;

}
.tab-login button.active {
  color: rgb(207, 60, 60);
  border-bottom:1px solid rgb(236, 233, 59) ;
}

.login-titulo{
  width: 60%;
}
.login-registro{
  width: 35%;
  margin: auto;
  margin-top: 10px;
  

}
.tabcontent{
  
  width: auto;
  display: none;
  padding: 0 10px 0 10px;
  margin: 0;
  
}



label{
  font-family: 'Roboto', sans-serif;
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
input[type=file] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} 
input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} 
@media screen and (max-width: 680px) {
  .login-registro{
    width: 100%;
  }

  button[type=btn] {
    width: 150px;
  }
  

}
/*estilos de Booton de canbiar estado*/
input[type=submit] {
  
  background-color: #4CAF50;
  color: white;
    padding: 12px;
    border: none;
  border-radius: 4px;
    cursor: pointer;
  width: 100%;
} 


 