
h1{
    text-align:left;
    color: rgb(75, 67, 65);
    font-family: 'Arvo', serif;
    margin-left: 20px;
    
    font-size:18px;
    padding: 8px;
}
/*estilos de detalle de pedido*/
.container-detalle{
    margin: 20px;
    border: 1px solid #b8b0b0;
}
.h1-left{
    color:#222222;

font: 400 22px/30px "Poppins", sans-serif;

letter-spacing: 1px;

text-align: left;

text-transform: capitalize;
}
h3{
    margin: 0;
    color:#222222;
    
    font: 400 22px/30px "Poppins", sans-serif;
    
    letter-spacing: 1px;
    
    text-align: left;
    
    text-transform: capitalize;
}
/*estilos de tabla*/

.table-admi{
    padding:0 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Domine', serif;
    text-align: center;
    padding: 10px 10px;
  
    
  
}
thead tr th{
    /*background-color: #e9e9e9;*/
    padding: 10px;
    border: 1px solid #e5e5e5;
   
}
tbody tr td{
    /*background-color: rgb(241, 245, 245);*/
    border: 1px solid #e5e5e5;
}

  
tbody td{
    padding: 8px;
    border: 1px solid #e6dede;
     
}
.btn-crear{
    display: flex;
    font-size: 25px;
  
}
.admin-h2{
    padding: 10px;
}
.btn-crear a{
    text-decoration: none;
    color: black;
    margin: auto;
}
.form-crear{
    width: 60%;
    margin: auto;
}

/*estilos de categorias destacadas*/
.card-cad-des{
    width: 25%;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    border-radius: 12px;
    
}
h4{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Arvo', serif;
}
.card-left-fex{
    display: flex;
    width: 100%;
}
.card-50{
    width: 50%;
    background-color: azure;
    margin: 5px;
}
.card-my{
    width: 100%;

}
.card-flex{
    display: flex;
    width: 100%;
    background-color: brown;
   

}
.img-des-cad{
width: 33%;
background-color: #fff;
padding: 5px;

}