/*estilos de container-menu1*/
.container-oficialmenu {
  /*overflow: hidden;*/

  /*position: fixed;*/
  top: 0;
  width: 100%;
  background-color: #fff;
}

.container-menu1 {
  display: flex;
  background-color: #fff;



}

.container-menu1 .logo-menu {
  text-align: center;
  margin: auto;
  width: 200px;




}

.container-menu1 .search {
  width: 50%;
  padding: 7px;
  margin: auto;

}

input[type=search] {
  width: 80%;
  padding: 12px;

  border: 2px solid rgb(190, 185, 185);
  border-radius: 4px;
  box-sizing: border-box;
  margin: auto;
  resize: vertical;
}

.search button {
  background-color: rgb(235, 204, 102);
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  width: 15%;
  border-radius: 12px;
}

.container-menu1 .cesta-logo .fila-icon {
  list-style: none;
  display: flex;
  padding: 0;

  margin: auto;
}

.container-menu1 .cesta-logo .fila-icon .Carito {
  display: flex;

}

.container-menu1 .cesta-logo .fila-icon .Carito .producto-cantidad {
  width: 100%;
  background-color: cadetblue;
  border-radius: 10px;
  margin: auto;
}

.container-menu1 .cesta-logo .fila-icon .Carito .producto-cantidad p {
  font-size: 15px;
  padding: 5px;
  margin: 5px;


}

.container-menu1 .cesta-logo .fila-icon li a {
  margin: auto;
  font-size: 40px;
  text-decoration: none;
}

/*estilos de menu top*/

.container-menu1 .cesta-logo {
  width: 25%;
  margin: auto;
  font-family: Arial;
  color: #000;

}

.menu-btn .dropbtn-btn {
  font-size: 17px;
  border: none;
  font-size: 23px;
  outline: none;
  color: rgb(31, 24, 24);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.icon-cart {
  color: chocolate;
}

/*Estilos de menu top para movil*/
@media screen and (max-width: 680px) {
  .container-menu1 .cesta-logo {
    display: none;

  }

  .container-menu1 .logo-menu {
    display: none;
  }

  .search button {
    display: none;
  }

  input[type=search] {
    width: 100%;
    border-radius: 12px;
  }

  .container-menu1 .search {
    width: 100%;
  }
}

/*Estilos de menu*/
.topnav {

  overflow: hidden;
  background-color: #20478b;

  font-family: Arial;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  /*background-color:#4267b2;
  color: white;*/
  background-color: #24779e;
  color: #090909;
}

.dropdown-content a:hover {
  background-color: #24779e;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 680px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;

  }
}

/*menu botton*/
.menu-bottom {
  display: none;
}

@media screen and (max-width: 680px) {
  .menu-bottom {
    display: block;
    width: 100%;
    background-color: #c1d3ca;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    border-top: 1px solid #8a8383;
    padding-top: 2px;
  }

  .btn-box {
    margin: 0 10px 0 10px;
    display: block;
  }

  .menu-bottom a {
    text-decoration: none;
    color: #1d1616;
    font-size: 15px;
  }

  .menu-bottom .icom {
    text-align: center;
    display: block;
  }

  .menu-bottom span {
    padding: 0;
    margin: 0;
    font-size: 27px;
    color: #000;
  }

  .menu-bottom .name-btn {
    text-align: center;

  }

}





/*estilos de banner*/
.slider {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
}


.slider ul {
  display: flex;
  padding: 0;
  margin: 0px;
  width: 500%;
  animation: cambio 20s infinite alternate linear;
}

.slider ul li {
  width: 100%;

  list-style: none;
}

.slider ul li .img-slider {
  width: 100%;
  border-radius: 0px;

}

@keyframes cambio {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }

  105% {
    margin-left: -400%;
  }

  120% {
    margin-left: -400%;
  }

}