body{
    margin: 0;
}
.footer{
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
   
    

}
.footer .footer-cajas{
    width: 30%;
    background-color: #ffff;
    margin: 2px;
}
.footer .footer-cajas  .footer-h3{
    margin: 10px;
}
.footer .footer-cajas .footer-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .footer-cajas .footer-ul li{
    margin: 10px;
    color: rgb(168, 176, 177);
   
}
/*estilos para movil*/
@media screen and (max-width: 680px) {
    .footer .footer-cajas{
        width: 100%;
    }

}

/*estilos de Copyright*/
.Copyright{
    width: 100%;
    background-color: rgb(136, 158, 197);
    
}
.Copyright .Copyright-p{
    margin: 0px;
    padding: 15px;
  text-align: center;

}